body {
    font-family: Arial, sans-serif;
    background-image: url(img/onix.jpg);
    margin: 0;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  h1 {
    text-align: center;
    color: #333333;
  }

  .form-container {
    max-width: 550px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .form-group input[type="text"],
  .form-group input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #cccccc;
  }

  .form-group button {
    background-color: #333333;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
  }

  .form-group button:hover {
    background-color: #555555;
  }
